<footer class="bg-white mt-auto">
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 md:flex md:items-center md:justify-between lg:px-8 border-t">
    <div class="mt-8 md:mt-0 md:order-1 flex space-x-2 items-center">
      <p class="text-center text-base text-gray-400">
        &copy; {{ new Date().getFullYear() }} OnlyJobs.
        <p class="text-center text-base text-gray-400">
      </p>
    </div>
  </div>
</footer>
