<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta property="og:title" content="AdonisJobs" />
  <meta property="og:description" content="Find the perfect Adonis role." />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://adonisjobs.dev" />
  <meta property="og:image" content="https://adonisjobs.dev/og.png" />
  <title>AdonisJobs</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preload" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" as="style">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap">
</head>
<body class="overflow-y-scroll min-h-screen flex flex-col">
  @include('partials/header')
  <main>
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-4">
      @if(flashMessages.get('info'))
        <p class="text-green-600 mx-4">{{ flashMessages.get('info') }}</p>
      @endif
      
      @!section('body')
    </div>
  </main>
  @include('partials/footer')
</body>
</html>
